rules_version = "2";
service cloud.firestore {
  match /databases/{database}/documents {
    // users collection
    match /users/{userId}/{documents=**} {
        allow read, write, create, update;
        allow delete: if request.auth != null && request.auth.uid == userId;
    }
    // posts collection
    match /posts/{userId}/{documents=**} {
        allow read, write, create, update;
        allow delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
