rules_version = "2";
service firebase.storage {
  match /b/{bucket}/o {
    match /profile-imgs/{userID}/{allPaths=**} {
      allow read: if request.auth!=null;
      allow write: if request.auth!=null && request.auth.uid == userID
        && ((
          request.resource.size < 1 * 1024 * 1024
          && request.resource.contentType.matches('image/.*')) || request.resource != null);
    }
  }
}
