rules_version = "2";
service firebase.storage {
  match /b/{bucket}/o {
    match /profile-imgs/{userID}/{allPaths=**} {
      allow read: if true;
      allow write: if request.resource.size < 3 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
  }
}
